* {
	margin: 0;
	padding: 0;
}

body {
	background: #dedede;
}


/*头部导航*/

header {
	background-color: #333333;
	height: 70px;
}

header #nav_img {
	position: relative;
	left: 40px;
	top: 16px;
}

header ul {
	position: absolute;
	top: 0;
	right: 20px;
	list-style: none;
}

header ul li {
	float: left;
	padding: 24px 10px;
}

header ul li a {
	text-decoration: none;
	font-size: 14px;
	color: white;
}

header ul li a:hover {
	color: #474747;
}


/*内容部分*/

article,aside {
	display: block;
	margin: 25px;
	padding: 20px;
	background-color: #fff;
	/*box-shadow:1px 1px 2px 1px #848484;*/
}

article h2 {
	padding: 10px 0;
}

article h3 {
	color: #808080;
}

.auther {
	font-size: 10px;
	color: #7f7775;
	padding: 15px 0;
}

article p {
	text-indent: 2em;
}

article .single_img{
	margin: 25px 0;
}

article ul {
	list-style: none;
}

article figure{
	width: 210px;
	border: 1px solid #cccccc;
	margin: 20px 0;
	text-align: center;
}

article figure img{
	width: 200px;
}

article figure p{
	padding: 10px;
}

.article_ol{
	margin: 0 0 10px 30px;
}

article table{
	text-align: left;
	width: 100%;
	border: 1px solid #cccccc;
	border-collapse: collapse;
}

article table th,article table td{
	padding:5px;
	border: 1px solid #cccccc;
}

article table th{
	background-color: #333;
	color:white;
}
article table tr:last-child{
	background-color: #ccc;
	font-weight: bold;
}

/*侧栏部分*/
aside h3{
	border-left: 3px solid #ccc;
	padding: 1px 0 1px 10px;
	margin-bottom: 10px;
}

aside form{
	
}




/*底部部分*/
footer {
	padding: 30px 0;
	background-color: #000;
	text-align: center;
}
footer span {
	color: white;
}
