body {
	padding: 20px;
	font-family: "微软雅黑";
	font-size: 15px;
}
.container{
	margin: 0 auto;
	padding: 20px;
	background: #eee;
	border: 1px solid #999;
	overflow: auto;
	min-width: 600px;
	
}
img{
	width: 80px;
	height: 80px;
}
.left{
	float: left;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #999;
	width: 160px;
}
.logo{
	float: left;
}
.name{
	text-align: center;
}
.middle {
	padding: 20px;
	margin-left: 225px;
	margin-right: 140px;
	border: 1px solid #999;
	background-color: #fff;
}
.right{
	float: right;
	background-color: #fff;
	border: 1px solid #999;
	width: 120px;
}
.right img{
	background: #fff;
	display: block;
	margin: 20px;
	border: 1px solid #999;
}


